<xf:macro name="gender" arg-user="!">
	<xf:selectrow name="sxfcore_gender" label="{{ phrase('sxfcore_gender') }}" value="{$user.sxfcore_gender}">
		<xf:option value="">{{ phrase('no_selection') }}</xf:option>
		<xf:option value="male">{{ phrase('sxfcore_gender_male') }}</xf:option>
		<xf:option value="female">{{ phrase('sxfcore_gender_female') }}</xf:option>
	</xf:selectrow>
</xf:macro>